.va-flex {
  display: flex;
}

.va-items-center {
  align-items: center;
}

.va-justify-between {
  justify-content: space-between;
}

.va-critical {
  color: var(--va-critical);
}

.va-serious {
  color: var(--va-critical);
}

.va-moderate {
  color: var(--va-critical);
}

.va-minor {
  color: var(--va-critical);
}

/* Font */
.va-capitalize {
  text-transform: capitalize;  
}

.va-font-medium {
  font-weight: 500;
}

.va-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.va-btn {
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-family: inherit;
}